#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 150px;
  height: 350px;
  padding: 20px;
}

.circle {
	width: 100px;
	height: 100px;
  background: black;
  margin: 10px;
  display: block;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}